html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background: #fff;
	font-size: 100%;
	font-family: "TT Interphases", Arial, Tahoma, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2B2B2B;
    overflow-x: hidden;
}

a, a:active , a:focus {
	outline: 0;
	text-decoration: none;
}

a:hover {
	color: inherit;
	outline: 0;
	text-decoration: none;
}

* {
	outline: none;
}

strong {
	font-weight: 600;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

.noscroll {
	overflow: hidden;
}

/* Header */
#header {
	position: relative;
}

.header_inner {
	display: flex;
	align-items: center;
	width: 100%;
	height: 110px;
	padding: 0 24px;
}

.btn_menu {
	width: 38px;
	height: 38px;
	margin-left: auto;
	background: #fff url(../images/icon/icon-menu.svg) no-repeat center;
	border: 0;
	border-radius: 10px;
	box-shadow: 5px 10px 20px 0px rgba(211,209,216,0.3);
}

.btn_back {
	flex: 0 0 38px;
	width: 38px;
	height: 38px;
	background: #fff url(../images/icon/icon-back.svg) no-repeat center;
	border: 0;
	border-radius: 10px;
	box-shadow: 5px 10px 20px 0px rgba(211,209,216,0.3);
}

span.current_page {
	width: 100%;
	justify-content: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	color: #000;
	text-align: center;
	padding-right: 38px;
}
/* Header End */

/* ProductType Begin */
.product_type {
	padding: 0 24px;
}

.product_type .inner {
	display: flex;
	width: 100%;
	height: 56px;
	padding: 4px;
	border: 1px solid #F2EAEA;
	border-radius: 28px;
}

.product_type .inner a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #FE724C;
	border-radius: 28px;
}

.product_type .inner a.active {
	font-weight: 500;
	color: #fff;
	background-color: #FE724C;
}
/* ProductType End */

/* Menu Begin */
#menu {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 99999;
	width: 237px;
	padding: 10px;
	background: #fff;
	box-shadow: 4px 0px 8px 0px rgba(128,128,128,0.25);
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: 500ms ease;
	-moz-transition: 500ms ease;
	transition: 500ms ease;
}

#menu.show {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
	opacity: 1;
	visibility: visible
}

#menubg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99990;
	padding: 10px;
	background: transparent;
}

.lang {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0;
}

.lang span.title {
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
	color: #000;
}

.lang nav {
	display: flex;
	margin-top: 25px;
}

.lang nav a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 34px;
	height: 34px;
	margin: 0 8px;
	font-size: 10px;
	font-weight: 600;
	line-height: 1;
	color: #D7D7D7;
	border: 1px solid #E5E5E5;
	border-radius: 10px;
}

.lang nav a.active {
	color: #fff;
	background-color: #FE724C;
	border-color: #FE724C;
}

.social {
	display: flex;
	flex-direction: column;
	padding: 25px;
	background-color: rgba(254,114,76,0.05);
	border-radius: 25px;
}

.social a {
	display: flex;
	padding-left: 30px;
	height: 20px;
	margin-bottom: 16px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	color: #000;
	align-items: center;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}

.social a.site {background-image: url(../images/icon/icon-site.svg);}
.social a.fb {background-image: url(../images/icon/icon-fb.svg);}
.social a.instagram {background-image: url(../images/icon/icon-instagram.svg);}
.social a.tripad {background-image: url(../images/icon/icon-tripad.svg);}

.social a:last-child {
	margin: 0;
}

.send_feedback {
	display: flex;
	width: 100%;
	height: 50px;
	margin-top: 25px;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	color: #000;
	background-color: rgba(254,114,76,0.05);
	border-radius: 15px;
}
/* Menu End */

/* Products Begin */
.products {
	position: relative;
	padding: 0 24px;
}

.products .box {
	position: relative;
	display: flex;
	width: 100%;
	min-height: 111px;
	margin-bottom: 16px;
	padding: 12px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0px 1px 4px 0px rgba(158,136,132,0.15);
}

.products .box:last-child {
	margin-bottom: 0;
}

.products .box figure {
	width: 95px;
	height: auto;
	flex: 0 0 95px;
	overflow: hidden;
	background: gray;
	border-radius: 15px;
}

.products .box figure img {
	width: 100%;
}

.products .box .body {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding-left: 15px;
	padding-top: 5px;
}

.products .box .body h2.title {
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	color: #000
}

.products .box .body .text {
	margin-top: 5px;
	font-size: 10px;
	font-weight: 400;
	line-height: 1.3;
	color: #656565;
}

.products .box .body .text p {
	margin: 0;
}

.products .box .bottom {
	display: flex;
	padding-top: 10px;
}

.products .box .bottom span.price {
	position: relative;
	display: flex;
	align-items: center;
	height: 25px;
	padding: 0 20px 0 10px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	background: #FE724C;
	border-radius: 13px;
}

.products .box .bottom span.price:after {
	content: "";
	display: block;
	width: 9px;
	height: 6px;
	position: absolute;
	right: 8px;
	bottom: 8px;
	background: url(../images/icon/icon-azn.svg) no-repeat center;
}

.btn-favorite {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	margin-left: auto;
	border: 0;
}

.btn-favorite.on {background-image: url(../images/icon/icon-favorite-on.svg);}
.btn-favorite.off {background-image: url(../images/icon/icon-favorite-off.svg);}

/* Products End */

/* Category Begin */
.category {
	position: relative;
	padding: 35px 24px 0;
}

.category .head {
	display: flex;
	align-items: center;
	width: 100%;
}

.category .head h2 {
	margin: 0;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	color: #2D2C2C;
}

.category .head a.get_favorites {
	margin-left: auto;
	padding-left: 24px;
	font-size: 12px;
	font-weight: 400;
	line-height: 1;
	color: #000;
	background: url(../images/icon/icon-favorite-on.svg) no-repeat left 0 center;
}

.category_list {
	display: flex;
	width: 100%;
	margin-top: 15px;
	overflow: auto; 
	flex-wrap: nowrap;
}

.category_list>li {
	margin-right: 6px;
}

.category_list>li:last-child {
	margin: 0;
}

.category_list>li>a {
	display: flex;
	flex-wrap: nowrap;
	height: 32px;
	padding: 0 16px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #9E9E9E;
	align-items: center;
	border-radius: 16px;
}

.category_list>li.sub>a {
	padding-right: 40px;
	font-weight: 600;
	color: #FE724C;
	background: #FFEDEA url(../images/arrow/arrow-down.svg) no-repeat right 10px center;
}

.category_list>li.sub ul {
	display: none;
	margin-top: 6px;
	flex-direction: column;
	width: 100%;
	background: #FFEDEA;
	border-radius: 15px;
}

.category_list>li.sub> ul li a {
	display: block;
	height: 35px;
	padding: 0 16px;
	font-size: 14px;
	font-weight: 600;
	color: #FE724C;
	line-height: 35px;
	text-align: center;
	border-bottom: 1px solid rgba(254,114,76,0.18);
}

.category_list>li.sub> ul li:last-child a {
	border-color: transparent;
}
/* Category End */

/* Detail Begin */
.detail {
	position: relative;
	padding: 0 24px;
}

.detail .box {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 16px;
	padding: 10px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0px 1px 4px 0px rgba(158,136,132,0.15);
}

.detail .box:last-child {
	margin-bottom: 0;
}

.detail .box figure {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: gray;
	border-radius: 15px;
}

.detail .box figure img {
	width: 100%;
}

.detail .box h2.title {
	width: 100%;
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	color: #000
}

.detail .box .body {
	display: flex;
	width: 100%;
	margin-top: 5px;
}

.detail .box .body .text {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.3;
	color: #656565;
}

.detail .box .body .text p {
	margin: 0;
}

.detail .box  span.price {
	position: relative;
	display: flex;
	align-items: center;
	height: 25px;
	margin-left: auto;
	padding: 0 20px 0 10px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	background: #FE724C;
	border-radius: 13px;
}

.detail .box span.price:after {
	content: "";
	display: block;
	width: 9px;
	height: 6px;
	position: absolute;
	right: 8px;
	bottom: 8px;
	background: url(../images/icon/icon-azn.svg) no-repeat center;
}

.other_title {
	margin: 20px 0;
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	color: #000;
}
/* Detail End */

/* Feedback Begin */
.feedback {
	position: relative;
	padding: 10px 24px 40px;
}

.feedback .inner {
	width: 100%;
}

.feedback span.lbl {
	display: block;
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	color: #000;
}

.feedback .rate_box {
	display: flex;
	height: 90px;
	margin-bottom: 40px;
	margin-top: 15px;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 16px;
}

.feedback .ipt_style {
	display: block;
	width: 100%;
	height: 50px;
	margin-bottom: 16px;
	padding: 0 20px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	color: #000;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 12px;
}

.feedback .ipt_style::-webkit-input-placeholder {
	color: #000;
}

.feedback input[type="submit"] {
	display: block;
	width: 100%;
	height: 50px;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	color: #fff;
	background: #FE724C;
	border: 0;
	border-radius: 12px;
}

.feedback_success {
	display: flex;
	height: calc(100vh - 130px);
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.feedback_success i {
	width: 154px;
	height: 154px;
	background: url(../images/icon/icon-feedback-success.svg) no-repeat center;
	background-size: 100%;
}

.feedback_success span.first_title {
	margin-top: 15px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	color: #FE724C;
}

.feedback_success span.second_title {
	margin-top: 8px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #FE724C;
}

/* Vote */
.br-theme-fontawesome-stars-o .br-widget {white-space: nowrap;}
.br-theme-fontawesome-stars-o .br-widget a {float: left; margin: 0 5px ;font: normal normal normal 32px/1 FontAwesome;text-rendering: auto;-webkit-font-smoothing: antialiased;text-decoration: none;}
.br-theme-fontawesome-stars-o .br-widget a:after {content: '\f006';color: #FE724C;}
.br-theme-fontawesome-stars-o .br-widget a.br-active:after {content: '\f005';color: #FE724C;}
.br-theme-fontawesome-stars-o .br-widget a.br-selected:after {content: '\f005';color: #FE724C;}
.br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {content: '\f123';color: #FE724C;}
.br-theme-fontawesome-stars-o .br-widget .br-current-rating {display: none;}
.br-theme-fontawesome-stars-o .br-readonly a {cursor: default;}
.br-theme-fontawesome-stars-o .br-reverse a.br-fractional {display: inline-block;transform: scaleX(-1);-moz-transform: scaleX(-1);-webkit-transform: scaleX(-1);filter: FlipH;-ms-filter: "FlipH";}
@media print {
.br-theme-fontawesome-stars-o .br-widget a:after {content: '\f006';color: black;}
.br-theme-fontawesome-stars-o .br-widget a.br-active:after,.br-theme-fontawesome-stars-o .br-widget a.br-selected:after {content: '\f005';color: black;}
.br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {content: '\f123';color: black;}
}