

<!-- Javascript -->
<script type="text/javascript" src="{SITE_FOLDER}js/jquery.min.js"></script>
<script type="text/javascript" src="{SITE_FOLDER}js/jquery-migrate-1.4.1.min.js"></script>
<script type="text/javascript" src="{SITE_FOLDER}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{SITE_FOLDER}js/jquery.barrating.min.js"></script>
<script type="text/javascript" src="{SITE_FOLDER}js/site.js"></script>


	<script>
    $(function () {
     
        $('.btn-favorite').on('click',function(e) {
			e.preventDefault();
            let _self = $(this);
			debugger;
			var pid = $(this).attr("data-id");
	
			debugger;
				
			$.ajax({
				'url' : '/ciociosan/public_html/ajax.favorite.php?lang={LANG}',
				'type' : 'POST',
				'data' : {
				  'action' : 'add',
				  'pid' : pid
				},
				'dataType' : 'json',
				'beforeSend': function () { debugger; },
				'complete': function () { debugger; },
				'success' : function(data) {
					/*setNotifyMessage(data);*/
					debugger;
					_self.removeClass("on").removeClass("off");
					if(data.isSuccess){
						_self.addClass(""+data.mod+"");
					}
					debugger;
				},
			});



            return false;


        });

    });
	</script>
	
	

</body>
</html>
