/* Regular */
@font-face {
    font-family: 'TT Interphases';
    src: url('TTInterphases-Regular.woff2') format('woff2'),
        url('TTInterphases-Regular.woff') format('woff'),
        url('TTInterphases-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
	text-rendering: optimizeLegibility;
}

/* Medium */
@font-face {
    font-family: 'TT Interphases';
    src: url('TTInterphases-Medium.woff2') format('woff2'),
        url('TTInterphases-Medium.woff') format('woff'),
        url('TTInterphases-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
	text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'TT Interphases';
    src: url('TTInterphases-DemiBold.woff2') format('woff2'),
        url('TTInterphases-DemiBold.woff') format('woff'),
        url('TTInterphases-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
	text-rendering: optimizeLegibility;
}

/* Bold */
@font-face {
    font-family: 'TT Interphases';
    src: url('TTInterphases-Bold.woff2') format('woff2'),
        url('TTInterphases-Bold.woff') format('woff'),
        url('TTInterphases-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
	text-rendering: optimizeLegibility;
}
